<p>&nbsp;</p>
<table style="border-radius: 6px;" width="600" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
  <tbody>
    <tr>
      <td style="padding: 10px;" align="center" bgcolor="#000000">
        <span style="color: #ffffff; font-size: 15px;">
          <strong>Gymbars</strong>
        </span>
      </td>
    </tr>
    <tr>
      <td style="padding: 25px;">
        <h2>¡Gymbars te da la bienvenida, {{ cliente.nombre.split(' ')[0] }}!</h2>
        <p>
          Nos llena de entusiasmo darte la bienvenida a nuestra comunidad fitness 💪
          Estás comenzando un camino hacia una vida más activa, saludable y llena de energía.
        </p>
        <p>
          Si en algún momento necesitas orientación o tienes alguna duda, nuestros entrenadores estarán encantados de
          ayudarte.
        </p>
        <p>
          ¡Disfruta cada entrenamiento y prepárate para superar tus propios límites día a día!
          ¡Gracias por elegirnos!
        </p>
        <p>
          ¡Gracias por elegirnos!
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding: 15px; font-size: 12px; color: #777;" align="center" bgcolor="#f1f1f1">
        &copy; 2025 Gymbars. Todos los derechos reservados.
      </td>
    </tr>
  </tbody>
</table>